<form action='/products/comments' method='POST'>
    <input type='hidden' value='{{ product._id }}' name='product_id'/>
    <fieldset>
        <legend>[add a comment]</legend>
        <div class='form-group'>
            <label for='comment-title'>title</label><br>
            <input class='form-control'
                id='comment-title'
                type='text'
                name='title'
                placeholder='[ comment title ... ]'/>
        </div>
        <div class='form-group'>
            <label for='comment-content'>description</label><br>
            <textarea class='form-control'
                id='comment-content'
                name='content'
                rows='10'
                placeholder='[your comment ... ]'></textarea>
        </div>
    </fieldset>

    <!-- button -->
    <div class='form-group'>
        <button class='btn btn-primary' type='submit'>save comment</button>
    </div>
</form>