<fieldset>
    <legend>Edit Product</legend>
    <!-- title -->
    <div class='form-group'>
        <label for='product-title'>Title</label><br>
        <input class='form-control' id='product-title' type='text' name='title' value='{{ product.title }}' />
    </div>

    <!-- description -->
    <div class='form-group'>
        <label for='description'>Description</label><br>
        <input class='form-control' id='description' type='text' name='description' vlaue='{{ product.description }}' />
    </div>
</fieldset>