{% extends 'base.html' %}

{% block content %}
<form method='POST' action='/products'>
    <fieldset>
        <legend>list a new product</legend>
        <p>
            <label for='title'>title</label><br>
            <input type='text' name='title' />
        </p>
        <p>
            <label for='description'>description</label><br>
            <input type='text' name='description' />
        </p>
        <p>
            <label for='price'>price</label><br>
            <input type='text' name='price' placeholder="$"/>
        </p>
        <p>
            <label for='image'>image</label><br>
            <p>select an image to upload</p>
        <input type="file" name="image" value="image" id="image"><br><input type="image" width="100">
        </p>
    </fieldset>

    <!-- button -->
    <p>
        <button type='submit'>save/list product</button>
    </p>
</form>
{% endblock %}