{% extends 'base.html' %}

{% block content %}
<form method='POST' action='/playlists'>
    <fieldset>
        <legend>new playlist</legend>
        <p>
            <label for='title'>title</label><br>
            <input type='text' name='title' />
        </p>
        <p>
            <label for='description'>description</label><br>
            <input type='text' name='description' />
        </p>
        <p>
            <label for='playlist-video-ids'>videos</label><br>
            <p>add the ID of the videos you want to include in you playlist. separate with a newline</p>
            <textarea id='playlist-video-ids' name='video_ids' rows='10'></textarea>
        </p>
    </fieldset>

    <!-- button -->
    <p>
        <button type='submit'>save playlist</button>
    </p>
</form>
{% endblock %}